azure-functions
azure-common==1.1.23
azure-identity==1.7.1
azure-mgmt-compute==23.1.0
azure-mgmt-network==19.3.0
azure-mgmt-resource==20.0.0
azure-storage-blob==12.9.0
azure-keyvault-secrets==4.3.0
requests==2.26.0
retry==0.9.2
urllib3==1.26.7
